.right {
  padding: 2rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

legend {
  font-size: 1.5rem;
  font-weight: 600;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  font-size: 1.2rem;
  padding: 2em;
}

.inp {
  display: flex;
  align-items: center;
  gap: 1em;
}

.inp input,
.inp select {
  color: white;
  font-size: 20px;
  padding: 8px;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid white;
  width: 20em;
}

.inp select option {
  background-color: #1f2229;
}

input:focus,
select:focus {
  outline: none;
}

.actbtns {
  margin-top: 1rem;
  display: flex;
  gap: 0.5em;
}

.actbtns input {
  padding: 10px;
  flex: 1;
  outline: none;
  font-size: 16px;
  font-weight: 700;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  border-radius: 20px;
}

.actbtns input[type="submit"] {
  color: #1f2229;
  background-color: white;
}

.actbtns input[type="submit"]:hover {
  transition: 0.2s ease-in-out;
  border: invert;
  background-color: rgba(255, 255, 255, 0.932);
}

.actbtns input[type="reset"]:hover {
  transition: 0.2s ease-in-out;
  border: invert;
  background-color: rgb(46, 49, 58);
}

.actbtns input[type="submit"]:active {
  transition: 0.2s ease-in-out;
  border: invert;
  background-color: rgba(255, 255, 255, 0.805);
}

.actbtns input[type="reset"]:active {
  transition: 0.2s ease-in-out;
  border: invert;
  background-color: rgb(55, 59, 69);
}

svg {
  width: 30px;
}
